* {
	box-sizing: border-box;
}

body {
	background-color: honeydew;
}

/* Menu */

.page-header {
	margin-bottom: 70px;
}

.page-header__wrapper {
	margin-bottom: 30px;
	padding-top: 20px;
}

.page-header__container {
	max-width: 1210px;
	min-height: 180px;
	padding: 20px;
	margin: 0px auto;
	position: relative;
	display: flex;
	padding-top: 80px;
}

.logo {
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
}

.menu {
	display: flex;
	flex-grow: 1;
}

.menu__wrap {
	display: flex;
	flex-grow: 1;
	padding-top: 8px;
}

.menu__main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: 500px;
	width: 60%;
	padding-right: 300px;
}

.menu__main-item,
.user-nav {
	list-style-type: none;
}

.menu__main-link,
.user-nav__link {
	text-decoration: none;
}

.user-nav {
	display: flex;
	padding: 0 0 0 20px;
}

/* Log / Reg form */

.log-reg-form__container {
	margin: 0px auto;
}

.log-reg-form__wrapper {
	width: 450px;
	position: relative;
	margin: 0px auto;
}

.input-label-group {
	position: relative;
	margin-top: 25px;
	margin-bottom: 25px;
}

.label-login,
.label-pass,
.label-repeat-pass {
	font-size: 16px;
	color: gray;
	position: absolute;
	pointer-events: none;
	top: 3px;
	left: 0px;
	transition: 0.3s;
}

input:focus ~ .label-login,
input:focus ~ .label-pass,
input:focus ~ .label-repeat-pass,
input:not(:focus):valid ~ .label-login,
input:not(:focus):valid ~ .label-pass,
input:not(:focus):valid ~ .label-repeat-pass {
	top: -20px;
	bottom: 5px;
	left: 0px;
	font-size: 14px;
	color: gray;
	text-transform: uppercase;
}

input, input:focus {
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 1px solid #eae9f2;
}

.log-reg-form {
	position: absolute;
    top: 0px;
	width: 100%;
	padding: 15px;
	border-radius: 3px;
	border: 1px solid lightgray;
	background-color: white;
	box-shadow: 0pt 1px 5px rgba(105, 108, 109,  0.7);
}

a {
	color: gray;
}

.button-form {
	width: 100%;
	background-color: orange;
	color: white;
	opacity: 0.8;
	border: none;
	cursor: pointer;
	padding: 10px 15px;
	margin: 10px 0;
	border-radius: 3px;
}

.button-form:hover,
.button-form:focus {
	opacity: 1;
}

.sign-in-up-link {
	text-align: center;
}

/* security progress bar */

.security {
	position: relative;
	width: 100%;
	margin: -25px 0 15px 0;
	background-color: #eae9f2;
	overflow: hidden;
}

.security-progress-bar {
	height: 4px;
	width: 0;
	background-color: red;
}

/* hide-show password */
#show-password {
	width: 15px;
}

/* animation */

a.hiddenanchor {
	display: none;
}

#login {
	z-index: 1;
}

#register {
	z-index: 0;
}

#toregister:target ~ .log-reg-form__wrapper #register,
#tologin:target ~ .log-reg-form__wrapper #login {
	z-index: 22;
    animation-name: fadeInLeft;
    animation-delay: .1s;
}

/* .animate{
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} */

/* #toregister:target ~ .log-reg-form__wrapper #login,
#tologin:target ~ .log-reg-form__wrapper #register{
    animation-name: fadeOutLeftBig;
}
 
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
 
    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
} */

.hello-form {
	position: absolute;
    width: 450px;
    height: 300px;
    top: 50%;
    left: 50%;
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: white;
	transform: translate(-50%, -20%);
	box-shadow: 0pt 1px 5px rgba(105, 108, 109,  0.7);
	overflow: hidden;
}

.form-text {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	color: orange;
}

.imgHelloForm {
	text-align: center;
	color: lightgreen;
	font-size: 70px;
	transition: all 500ms ease;
}

.userNameHelloForm {
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
	color: gray;
	margin-top: -10px;
}

.headMonkey {
	text-align: center;
	text-transform: uppercase;
	color: gray;
	font-size: 12px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.imgHelloForm:hover {
	animation: bounce 1.5s;
	cursor: pointer;
	color: green;
	font-size: 75px;
	transition: all 500ms ease;
}

.user-nav__item {
	font-size: 30px;
	margin-right: 12px;
	margin-left: 10px;
}

.user-nav__item:first-child {
	font-size: 28px;
}

.menu__main-link {
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid lightgrey;
	border-radius: 5px;
	vertical-align: middle;
	padding: 5px;
}